__pycache__/
*.py[codz]
*.pyo
*.pyd
*.pyc

.env
.envrc
.venv/
venv/
ENV/

.git/
.gitignore

__pypackages__/
.pytest_cache/
.mypy_cache/
.ruff_cache/

*.log

.db.sqlite3

media/
staticfiles/

.idea/
.vscode/

.DS_Store

*.egg-info/

node_modules/
